<h1>Animals</h1>


<div class="form" *ngIf="showForm">
  <div class="mb-5">
    <label for="name">Name:</label>
    <input class="form-control" type="text" placeholder="Lion, Monkey, etc..." [(ngModel)]="animal.name">
    <label for="name">Weight:</label>
    <input class="form-control" type="number" placeholder="30" [(ngModel)]="animal.weight">
    <label for="name">Habitat:</label>
    <input class="form-control" type="text" placeholder="Jungle" [(ngModel)]="animal.habitat">
    <label for="name">Date Of Birth:</label>
    <input class="form-control" type="date" placeholder="YYYY/MM/DD" [(ngModel)]="animal.dateOfBirth">
    <label for="name">Is Wild:</label>
    <input class="form-control" type="checkbox" [(ngModel)]="animal.isWild">
    <div>
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-danger" (click)="showForm = false">Cancel</button>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="newAnimal()">New Animal</button>

<table class='table table-striped mt-2' *ngIf="animals">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Habitat</th>
        <th>DateOfBirth</th>
        <th>IsWild</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td>{{ animal.id }}</td>
        <td>{{ animal.name }}</td>
        <td>{{ animal.weight }}</td>
        <td>{{ animal.habitat }}</td>
        <td>{{ animal.dateOfBirth }}</td>
        <td><input class="form-control" disabled="true" type="checkbox" [(ngModel)]="animal.isWild"></td>
        <td>
          <div *ngIf="!animal.confirmation">
            <button class="btn btn-warning mr-2" (click)="edit(animal)">Edit</button>
            <button class="btn btn-danger" (click)="animal.confirmation = true">Delete</button>
          </div>
          <div *ngIf="animal.confirmation">
            <button class="btn btn-danger mr-2" (click)="animal.confirmation = false">Cancel</button>
            <button class="btn btn-success" (click)="deleteAnimal(animal)">Confirm</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- {{animals | json}} -->
  {{animal | json}}